<h1 mat-dialog-title>Update Author Status</h1>
<form [formGroup]="registerform" (ngSubmit)="UpdateUser()">
    <div mat-dialog-content>
        <section class="example-section">
            <br>
            <mat-checkbox  formControlName="isactive" class="example-margin">Is Active</mat-checkbox>
        </section>

    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button color="primary" cdkFocusInitial>Save</button>
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    </div>
</form>