<h1 mat-dialog-title>Add Book</h1>
<form [formGroup]="bookform" (ngSubmit)="AddBook()">
    <div mat-dialog-content>
        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput formControlName="bk_title" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
              <mat-label>ISBN</mat-label>
              <input matInput formControlName="bk_isbn" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
              <mat-label>Edition</mat-label>
              <input matInput formControlName="bk_edition" >
        </mat-form-field>
        <mat-form-field>
            <div>
              <mat-toolbar>
                <input matInput [value]="fileName" />
              </mat-toolbar>
        
              <input
                type="file"
                id="fileInput"
                (change)="selectFile($event)"
                formControlName="fileInput"
              />
            </div>
          </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button color="primary" cdkFocusInitial>Save</button>
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    </div>
</form>