<mat-card>
    <mat-card-header>
        <h2>Book Listing</h2>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-elevation-z8">
            <button (click)="addbook()" mat-raised-button color="primary">Add Book</button>
            <table mat-table matSort  [dataSource]="dataSource">
          
              <ng-container matColumnDef="bk_title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.bk_title}} </td>
              </ng-container>
          
              <ng-container  matColumnDef="author_name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Author </th>
                <td mat-cell *matCellDef="let element"> {{element.author_name}} </td>
              </ng-container>
          
              <ng-container matColumnDef="bk_edition">
                <th mat-header-cell *matHeaderCellDef> Edition </th>
                <td mat-cell *matCellDef="let element"> {{element.bk_edition}} </td>
              </ng-container>

              <ng-container matColumnDef="bk_isbn">
                <th mat-header-cell *matHeaderCellDef> ISBN </th>
                <td mat-cell *matCellDef="let element"> {{element.bk_isbn}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
    </mat-card-content>
  </mat-card>


