<div class="content">
  <div class="example-container">
    <form class="example-form" [formGroup]="searchform" (ngSubmit)="search()">
      <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input matInput formControlName="searchkeyword" >
        <button matSuffix mat-button><mat-icon >search</mat-icon></button>
      </mat-form-field>

      <br/>
      <button id="basic" class="primary" type="button" mat-button (click)="resetSearch()">
        Reload
      </button>
      </form>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of books?.data">
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>{{num.bk_title}}</mat-card-title>
          </mat-card-header>
          <img *ngIf="num.bk_cover != null"  mat-card-image src="http://localhost:8000/storage/{{num.bk_cover}}">
          <mat-card-content>
            <p>
                Author: {{num.author_name}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</div>